Repository yumemi-inc/ios-training, pull requests merged in 2022-04, with the labels that each got.

#21 YumemiWeatherのリファレンスをDocCに変更する
  Documentation/YumemiWeather.md
Labels: documentation, enhancement

#25 APIの更新時に、DocCを再生成するためBitriseのビルドをtriggerする
  .github/workflows/publish.yml
Labels: enhancement

#23 feat: UIKit > UITableView
  Documentation/UITableView.md
  README.md
  Sources/YumemiWeather/SeedRandomNumberGenerator.swift
  Sources/YumemiWeather/YumemiWeather.swift
  Sources/YumemiWeather/YumemiWeatherList.swift
  Tests/YumemiWeatherTests/YumemiWeatherListTests.swift
  Tests/YumemiWeatherTests/YumemiWeatherTests.swift
Labels: enhancement

#26 UIActivityIndicatorView のリンクを追加
  Documentation/ThreadBlock.md
Labels: documentation
